@import "../../../assets/scss/abstract/abstract-dir.scss";
.about-container{
    overflow-x: hidden;
}
.container{
    .Text-primary{
        color: $primary;
    }
    .about-text {
        font-family: 'Poppins', sans-serif;
        color: $light-black;
        font-weight: bold;
        font-size: fontSize(40px);
        display: flex;
        align-items: center;
    }
    @media (max-width: 479px) {
    .about-text{
        font-size:fontSize(30px);
    }
    }
    .about-para {
            font-family:'Poppins', sans-serif;
            font-style: italic;
            font-weight: bold;
            font-size: fontSize(22px);
            color:#6A6A6A;
        }
        div {
            p{
                font-family: 'Poppins', sans-serif;
                font-weight: normal;
                font-size: fontSize(22px);
                line-height: lineheight(35px);
                color:#4B4B4B;
            }
        }
        .btn-blue {
            border: 1px solid transparent;
            background-color: $primary;
            color: white;
            font-size: fontSize(14px) ;
            padding: 6px 18px;
            border-radius: 4px;
          }
          .btn-blue:hover {
            border: 1px solid $primary;
            background-color: transparent;
            color:$primary;
            transition: 0.3s ease-in;
            font-size: fontSize(14px) ;
            padding: 6px 18px;
            border-radius: 4px;
          }
          .btn:focus, .btn.focus {
            box-shadow: none;
        }
        div {
            .about-pic {
                width: 100%;
                object-fit: contain;
                height: 85%;
                vertical-align: center;
            }
        }
}
