@import "../../../assets/scss/abstract/abstract-dir.scss";

.featured-products-heading{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: fontSize(40px);
}
.Text-primary{
    color: $primary;
}
div {
    .featured-pic-list{
        width: 100%;
        height: 375px;
        object-fit: cover;
    }
}
.fitness-catagory {
    position: absolute;
    color:$white;
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    font-size: fontSize(23px);
    text-transform: uppercase;
    bottom: 25px;
    margin: 0 auto;
    width: 100%;
}
.card-product {
    box-shadow: 6px 6px 26px rgba(0, 0, 0, 0.37);
    border:none;
}
.button-transparent {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 1.2rem;
    margin: 0 auto;
    width: 100%;
        .btn-transparents {
            color:$white;
            background-color: transparent;
            border-color: $white;
            font-size: fontSize(14px);
            padding: 0.3rem 1.3rem;
            display: none;
            border-radius: 0.25rem;
        }
        .btn-transparents:hover {
            color:$black;
            background-color: $white;
            border-color: transparent;
            transition: 0.3s ease-in;
        }
        .btn:focus, .btn.focus {
            box-shadow: none;
        }
    }    
.card:hover {
    .btn-transparents{
        display: block;
    }
    .fitness-catagory {
        bottom: 4rem;
    }
}