@import "../../../assets/scss/abstract/abstract-dir.scss";
.card-deck{
    flex-wrap: wrap;
    justify-content: center;
}
div.card.otherprogram-card {
    flex: auto;
    flex-grow: 0;
}
.otherPrograms-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: fontSize(40px);
    color: $light-black;
}
.card.otherprogram-card{
    border: none;
    width: 30%;
.white-box {
    width: 75%;
    border:1px solid transparent;
    color: $black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.17);
    transform: translateY(-40px);
    background-color: $white;
        p{
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: fontSize(18px);
    }
}
.white-box:hover{
    border: 1px solid $primary;
    background-color: $primary;
    transition: 0.5s ease-out;
    p{
        color: $white;
    }
}
}
@media (max-width:1200px) {
    .card.otherprogram-card {
        width: auto;
    }
}