@import "../../../assets/scss/abstract/abstract-dir.scss";

.head {
  
    .navbar {
        padding: .5rem 0;
         .nav-item{
           .nav-link{
             color:$black;
             transition:0.3s ease;
             padding: 0 1.2rem;
             font-size:fontSize(14px);
             background-color: transparent;
             cursor: pointer;
           }   
           .nav-link:hover {
             color: $primary;  
           }
         }
        }
      .btn-blue {
        border: 1px solid transparent;
        background-color: $primary;
        color: $white;
        font-size: fontSize(12px) ;
        padding: 6px 18px;
        border-radius: 4px;
      }
      .btn-blue:hover {
        border: 1px solid $primary;
        background-color: transparent;
        color:$primary;
        font-size: fontSize(12px) ;
        transition: 0.3s ease-in;
        padding: 6px 18px;
        border-radius: 4px;
  }
  .btn:focus, .btn.focus {
    box-shadow: none;
}
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}
.navbar-collapse {
  background-color: white;
  align-items: center;
}
@media (max-width:991px) {
  li.nav-item.nav-item {
    padding: 0.6rem 0;
    border-bottom: 1px solid #8BBF1A;
    text-align: center;
}
.header-button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 0;
}
}
@media(max-width:479px){
  .head .navbar {
    padding: 0.5rem ;
}
}