
@import "../../../assets/scss/abstract/abstract-dir.scss";

.footer-page {
    .footer-background {
        background: $light-black-1;
        height: auto;
        padding-top:3rem;
            div {
                li{
                   font-family:'Poppins', sans-serif;
                    font-size: fontSize(15px);
                    list-style: none;
                    opacity: 0.6;
                }
            }
        }
        .footer-logo {
            img {
                margin: 0.6rem 0.6rem 0.6rem 0;
                height: 2.4rem;
            }
        }
        .footer-para {
            font-family: 'Poppins', sans-serif;
            font-size: fontSize(15px);
            color: $white;
            opacity: 0.6;
            line-height: lineheight(24px);  
        }
        hr{
            opacity: 0.3;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            border: 1px solid $white;
        }
        .footer-copy-rights {
            font-family:'Poppins', sans-serif ;
            font-size: fontSize(13px);
            color: $white;
            opacity: 0.6;
        }
        .faIcons {
            font-size: fontSize(14px);
            color: $white;
            opacity: 0.6;
        }
        .faIcons:hover{
            color: $primary;
        }
}
.footer-links-heading {
    font-family: 'Poppins', sans-serif ;
    color: $white;
    font-weight: bold;
    font-size: fontSize(16px);

.footer-links-list {
    li {
    a{
    color:$white;
    font-family: 'Poppins', sans-serif;
    line-height: lineheight(16px);
    font-weight: normal;
    font-size: fontSize(14px);
    opacity: 1;
    }  
    a:hover{
        color:$primary;
        text-decoration: none;
        font-size: fontSize(14px);
        opacity: 1;
        }  
}  
}
}