@import "../../../assets/scss/abstract/abstract-dir.scss"; 

:root {
    --swiper-navigation-size: 20px;
    --swiper-theme-color: black ;
}
.testimonial-main-page {
 margin:3rem 0;
}
.testimonial-heading {
    h3{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color:  #383838;
        font-size: fontSize(40px);
        padding: 3rem 0;
    }
}
.testimonial-page { 
    .swiper-button-prev{
        left: 10px;
        right: auto;
        border: 1px solid $light-grey;
        border-radius: 50%;
        padding: 1.3rem;
        background-color: $light-grey;
    }
    .swiper-button-next {
        border: 1px solid $light-grey;
        border-radius: 50%;
        padding: 1.3rem;
        background-color: $light-grey;
    }
}
.testimonial-content{
    font-family: 'Poppins', sans-serif;
    font-size: fontSize(15px);
    text-align: center;
    line-height: lineheight(25px);
}
.testimonial-person-name{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: fontSize(18px);
    text-align: center;
}

.testimonial-person-company-name {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:fontSize(13px);
    color:$light-grey;
    text-align: center;
}

.testimonial-card {
    border:1px solid $white;
    background-color: $white;
    height:auto;
    padding:1rem 1.5rem;
    box-shadow: 0px 0px 0.9rem rgba(0, 0, 0, 0.21);
    border-radius:0.5rem;
    h6{
        font-size: fontSize(30px);
        color: $light-grey;
    }
    i{
        color: #757575;
    }
}
// .testimonial-card:hover{
//     border-color: $primary;
//     box-shadow: 0px 0px 0.5rem $primary;
// }
.swiper-container.swiper-container-coverflow.swiper-container-3d.swiper-container-initialized.swiper-container-horizontal {
    padding: 0.5rem;
}
