@import "../../../assets/scss/abstract/abstract-dir.scss"; 

.getintouch-container {
    margin-top:5%;
    margin-bottom: 5%;
    h4{
        font-family:'Poppins', sans-serif;
        font-weight: bold;
        font-size: fontSize(40px);
        text-align: center;
        color: $light-black;
        padding: 2rem 0;
    }
}
.container {
    .t-icons{
        i{
            font-size: fontSize(28px);
            color: $black;
        }
    }
    .flex-column {
        p{
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: fontSize(22px);
            line-height: lineheight(20px);
            margin-bottom: 0.6rem;
        }
        .getintouch-para{
            font-family: 'Poppins', sans-serif;
            font-weight: normal;
            cursor: pointer;
            font-size: fontSize(16px);
        }
    }
}
@media (max-width: 769px ) {
    .map {
        display: block;
        height: 400px;
    }
}