@import "../../../assets/scss/abstract/abstract-dir.scss";

.sc-head{
    background-color: $black ;
    height:40px; 
    color: $white;
        a{
            color:#D1D1D1;
            line-height:lineheight(40px);
        }
        a:hover{
            color: $primary;
            transition: 0.3s ease-in;
        }
    .row-head {
        display: flex;
        align-items: center;
        padding: 0.2rem 0;
        font-size: fontSize(12px);
        color: $infoheadColor;
        cursor: pointer;
        .faIcons {
            line-height:lineheight(36px);
            font-size: fontSize(12px);
        }
    }
}
@media (max-width: 479px ) {
    .sc-head {
        display: none;
    }
}