@import "../../../assets/scss/abstract/abstract-dir.scss"; 

.message-heading {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    h4{
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: fontSize(40px);
        text-align: center;
        color: $light-black;
    }
}
.container {
    div{
        form {
            input {
                font-family: Arial;
                font-weight: normal;
                font-size: fontSize(16px);
            }
            .form-control {
                padding: 1.375rem 1.2rem;
                border-radius: 0;
                border: 1px solid #A6A6A6;
            }
        }
        .btn-black {
            background-color:$light-black;
            padding: 0.7rem 1.5rem;
            font-size: fontSize(12px);
            font-family: Arial;
            font-weight: 400;
            letter-spacing: 0.03rem;
            color: $white;
            border: 1px solid transparent;
        }
        .btn-black:hover {
            background-color:transparent;
            transition: 0.3s ease-in;
            border: 1px solid $light-black;
            color: $light-black;
        }
    }
}