$root-font-size : 16px;

@function fontSize($size) {
    $remSize: $size / $root-font-size;
    @return #{$remSize}rem;
}

$root-lineheight-size : 16px;

@function lineheight($size) {
    $remSize: $size / $root-lineheight-size;
    @return #{$remSize}rem;
}