@import "../abstract/abstract-dir.scss"; 

.aboutus-container {
    background-image: url("/static/images/image5.png");
    background-size: cover;
    height: 50vh;
    margin-top:8%;
    align-items: center;
    justify-content: center;
}
.aboutus-heading {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: fontSize(40px);
    color: $white;
}

.extra::before{
    content: '';
    z-index: 1;
    position: absolute;
    left:-50px;
    top: 50px;
    height: 110px;
    width: 20%;
    background-image: url("/static/images/Polygon 1.png");
}

@media (max-width:1100px) {
    .extra {
        display:none;
}
}
.row{
.col-lg-6{
    .bg-primarys{
        background: $primary;
        height: 100%;
        img {
            margin-left: 5.5rem;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        @media(max-width:1200px){
            img{
                margin:0;
            }
        }
    }
}
.aboutus-sub-menu{
    padding:5rem;
    overflow-x: hidden;
}
@media(max-width:479px) {
    .aboutus-sub-menu{
        padding: 0;
    }
}
.col-lg-6{
    .aboutus-sub-heading{
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: fontSize(40px);
    } 
   
    @media (max-width:479px) {
        .aboutus-sub-menu{
            .aboutus-sub-heading {
                font-size:fontSize(26px);
                padding:1rem;
            }
        }
    }
    .Text-primary {
        color: $primary;
    }
    img.aboutus-image-list{
        padding: 0.6rem;
    }
    .aboutus-text{
        padding: 0.6rem;
        font-family: 'Poppins', sans-serif;
        font-weight: normal;
        font-size: fontSize(20px);
        line-height: lineheight(28px);
        color: $black;
    }
    .card.aboutus-card {
        border: none;
    }
      
}
}

   

