@import "../abstract/abstract-dir.scss";

.contact-container {
    background-image: url("/static/images/image5.png");
    background-size: cover;
    margin-top:8%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size:fontSize(40px);
    text-align: center;
    color: $white;
}