@import "../abstract/abstract-dir.scss";

.feature-container {
    background-image: url("/static/images/image5.png");
    background-size: cover;
    height: 50vh;
    margin-top:8%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feature-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: fontSize(40px);
    color: $white;
    text-align: center;
}