@import "../../../assets/scss/abstract/abstract-dir.scss";

.bannerText {
    text-align: center;
    justify-content: center;
    h1{
        line-height: lineheight(58px);
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color: $white;
        font-size:fontSize(45px);
        width:800px;
        animation-duration: 3s;
    }
    @media (max-width: 479px) {
        h1{
            font-size:fontSize(20px);
            width: 200px;
            margin: 0 auto;
            line-height: lineheight(40px);
        }
    }
    p {
        color: $white;
        font-size:fontSize(20px);
        line-height:lineheight(36px);
        width: 700px;
        margin: 0 auto;
    }
    @media (max-width: 479px) {
        p{
            font-size:fontSize(16px);
            width: 200px;
            margin: 0 auto;
            line-height: lineheight(20px);
        }
    }
    .btn-white {
        color:$black;
        background-color:$white;
        border-color: $white;
        font-size: fontSize(14px);
        padding: 5px 20px;
        border-radius: 4px;
    }
    .btn-white:hover {
        color: $white;
        background-color: transparent;
        border-color: $white;
        font-size: fontSize(14px);
        transition: 0.3s ease-in;
    }
    .btn:focus, .btn.focus {
        box-shadow: none;
    }
    .btn {
        border-radius:0;
    }
}
.banner-list {
    width: 100%;
    margin-top:8%;
    height: calc(100vh);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/static/images/image1.png');
    align-items: center;
    justify-content: center;
}
.banner-card {
.swiper-pagination-bullet {
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
    border-radius: 100%;
    background: $white;
    border: 1px solid $white;
}
}
.slide-in-left{
    opacity: 0.1;
    transform: translate(-250px, 0px);
}
.slide-in-down{
    opacity: 0.1;
    transform: translate(0px, -200px);
}
.slide-in-right{
    opacity: 0.1;
    transform: translate(250px, 0px);
}
.swiper-slide-active {
    .zoom-in{
            animation: zoominoutsinglefeatured 3s both ;
    }
    @keyframes zoominoutsinglefeatured {
        50% {transform: scale(1.1);}
        100%{transform:scale(1.1);}
    }
    .slide-in-left {
        animation: slide-in-left 2s forwards;
    } 
    @keyframes slide-in-left {
        50%{opacity: 0.6}
        100% { transform: translateX(0%);opacity:1; }  
    }  
    .slide-in-down {
        animation: slide-in-down 2s forwards;
    } 
    @keyframes slide-in-down {
        50%{opacity: 0.6}
        100% { transform: translateX(0%); opacity: 1}
    }  
    .slide-in-right {
        animation: slide-in-right 2s forwards;
    } 
    @keyframes slide-in-right {
        50% {opacity: 0.6}
        100% { transform: translateX(0%);opacity: 1 }
    }  
}