@import "../../../assets/scss/abstract/abstract-dir.scss"; 

.discount-heading{
    h4{
        font-family:'Poppins', sans-serif;
        padding-top: 2rem 0;
        font-weight: bold;
        font-size: fontSize(34px);
        text-align: center;
        color: $light-black;
    }
    .discount-para {
        font-family: FS Elliot Trial;
        font-weight: normal;
        font-size: fontSize(22px);
        text-align: center;
        color: #4B4B4B;
    }
}
.discount {
    overflow-x: hidden;
}
.d-card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}
div{
    .d-offer-card {
        width: 29rem;
        // min-height: lineheight(54px);
        background: rgba(0, 0, 0, 0.05);
        background-color: transparent !important;
        border :2px solid $blue;
        transition: 0.5s ease;
        .d-card-text{
            font-size: fontSize(18px);
            line-height: lineheight(24px);                
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            padding: 0.5rem 1rem;
        }
        img.d-offer-image-list {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}

.card.d-offer-card:hover {
    transform: scale(1.1);
    .d-card-title {
    svg{
        path{
            fill:$primary;
        }
    }   
}
.d-card-text{
    color: $primary;
}
}
@media (max-width:479px) {
    div{
        .d-offer-card { 
            width: 18rem;
            .d-card-text{
                font-size: fontSize(16px);
                padding: 0 1rem;
            }
        }
    }
}