@import "../../../assets/scss/abstract/abstract-dir.scss";

.offer-list {
    flex-wrap: wrap;
}
.offer-heading{
    h4{
        color: $white;
        font-family:'Poppins', sans-serif;
        font-weight: bold;
        font-size: fontSize(40px);
    }
}
.offer-container {
    background-image: url("/static/images/image4.png");
    background-size: cover;
    background-position: center;
}
.card.offer-card {
    width: 18rem;
    padding: 0.6rem;
    min-height: 10rem;
    text-align: center;
    color: $white;
    transition: 0.5s ease;
    background: rgba(0, 0, 0, 0.05);
    background-color: transparent;
    border :2px solid $white ;
    .card-title {
        padding-top: 0.6rem;
    }
    .card-text{
        font-size: fontSize(16px);
        line-height: lineheight(24px);                
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        padding: 0.6rem;
        color: $white;
        cursor: pointer;
    }
    img.offer-image-list {
        width: 25%; 
    }
}
.card.offer-card:hover {
border-color: $primary;
transition: 0.5s ease-out;
.card-title{
    svg{
        path{
            fill:$primary;
            transition: 0.5s ease-out;
        }
    }
}
.card-text {
    color: $primary;
    transition: 0.5s ease-out;
}
}
.card.offer-card:hover {
    transform: scale(1.1);
}