@import "../../../assets/scss/abstract/abstract-dir.scss"; 

.f-offer-list {
    flex-wrap: wrap;
}
.f-offer-heading{
    padding-top: 1.5rem;
    h4{
        color: $light-black;
        font-family:'Poppins', sans-serif;
        font-weight: bold;
        font-size: fontSize(37px);

    }
}
.f-offer-container {
    background-size: cover;
}
.card.f-offer-card {
    width: 18rem;
    padding: 0.6rem;
    min-height: 11rem;
    text-align: center;
    transition: 0.5s ease-in;
    color: $light-grey-1;
    background: rgba(0, 0, 0, 0.05);
    background-color: transparent;
    border :1px solid $primary;
    .f-card-title {
        padding-top: 0.6rem;
    }
    .f-card-text{
        font-size: fontSize(18px);
        line-height: lineheight(24px);                
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        padding: 0.6rem;
    }
}
.card.f-offer-card:hover {
    .f-card-title {
    svg{
        path{
            fill:$primary;
        }
    }
}
.f-card-text {
    color: $primary
}
}
.card.f-offer-card.my-4:hover {
    transform: scale(1.1);
}