@import "../../../assets/scss/abstract/abstract-dir.scss"; 


.bg-primarys {
    background-color:$primary;
    height: 100%;
}
.pricing-heading {
    font-family:'Poppins', sans-serif;
    font-weight: bold;
    font-size: fontSize(35px);
    color: $white;
    text-align: center;
}
.pricing-para{
    font-family:'Poppins', sans-serif;
    font-weight: normal;
    font-size: fontSize(22px);
    color: $white;
    text-align: center;
}
.table{
    thead{
        tr{
            th{
                font-family:'Poppins', sans-serif ;
                font-weight: normal;
                font-size: fontSize(22px);
                text-align: center;
            }
        }
    }
    th {
        border: 2px solid $black;
    }
}
.table-bordered thead th {
    border-bottom-width: 1px;
    background:$white;    
    font-family:'Poppins', sans-serif;
    font-weight: normal;
    font-size: fontSize(20px);
    line-height: lineheight(45px);
    text-align: center;
    td{
        font-size: fontSize(40px);
    }
}
.table-bordered td, .table-bordered th {
    border: 1px solid $black;
    background: $white;
}
tr {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: fontSize(16px);
    text-align: center;
    cursor: pointer;
}

table{
    tbody{
        td{
            font-size: fontSize(18px);
            font-weight: normal;
            font-family: 'Poppins', sans-serif
        }
       tr:hover{
           td:hover{
                color: $primary
           }
       }
    }
}
